.NavigationItems{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    list-style: none;
    height: 10%;
}
.NavigationItems a{
    text-decoration: none;
    color: black;

}
.SearchBar {
    position: relative;
    display: inline-block;
    padding: 5px;
    width: 50%;
    height: 10%;
    margin-right: 18%;
    border-radius: 2%;
    outline: none;
    /* background-color: rgb(243, 236, 236); */
}
.InputItem {
    padding-inline-start: 10px;
    border: none;
    outline: none;
    display: inline-block;
    width: 80%;
    height: 25px;
    padding: 8px;
    border-radius: 25px;
    background-color: rgb(243, 236, 236);
}
.designbutton{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 34%;
    right: 18%;
}